.conteiner{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

@media screen and (max-width: 479px){
        width: 479px;
    }

@media screen and (min-width: 768px){
    width: 768px;
}
@media screen and (min-width: 1200px){
    width: 1200px;
}
}          

.conteiner-portfolio{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 94px;
    margin-bottom: 94px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    }
